body {
  padding: 20px;
}

.header {
  margin-bottom: 20px
}

.header h3,
.well h3 {
  margin-top: 5px;
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

dd {
  margin: 0px;
}

li.list-group-item {
  padding-top: 0px;
  padding-bottom: 0px;
}

li.list-group-item a {
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
}

li.list-group-item:hover {
  background-color: #eee;
}

li.list-group-item.active a {
  color: #fff;
}
